
@{
    ViewBag.Title = "Forsiden";
}
@section sidebar {
    @Html.Partial("_SidebarPartial")    
}

<h2>Administrasjonsinterface</h2>
<p>Her kan du administrere</p>
<ul>
    <li>Lokasjoner / rom</li>
    <li>Typer av rom (kommer snart)</li>
    <li>Aksesspunkter (kommer snart)</li>
</ul>
<p>Trykk på en kategori på venstresiden av skjermen for å administrere kategorien.</p>
