@if (Request.IsAuthenticated)
{
    <text>
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">
            @{ 
                var claimsIdentity = this.User.Identity as System.Security.Claims.ClaimsIdentity;
            }
            Hei, @claimsIdentity.FindFirst("username").Value!
        </li>
        <li>
            @Html.ActionLink("Logg ut", "SignOut", "Account")
        </li>
    </ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Logg inn", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
