
@{
    ViewBag.Title = "Feil";
}

<div class="alert alert-danger" role="alert" style="margin-top: 20px;">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Feil:</span>
    @ViewBag.ErrorMessage
</div>
